---
// Header.astro
const vitalGlow = "/images/VitalGlow.webp";
---

<header
  class="relative min-h-screen bg-cover bg-center bg-no-repeat bg-header"
>
  <!-- Barra de Navegación -->
  <nav class="w-full" role="navigation">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-center items-center h-16">
        <!-- Enlaces de Navegación -->
        <div class="hidden md:block">
          <div class="ml-10 flex items-center space-x-8">
            <a
              href="#sobre-nosotros"
              class="text-white font-semibold hover:text-neutral-dark smooth-scroll"
              >Sobre Vital Glow</a
            >
            <a
              href="#products"
              class="text-white font-semibold hover:text-neutral-dark smooth-scroll"
              >Productos</a
            >
            <!-- <a
              href="#donde-comprar"
              class="text-white font-semibold hover:text-neutral-dark smooth-scroll"
              >Dónde comprar</a
            > -->
            <a
              href="#contactSectionForm"
              class="text-white font-semibold hover:text-neutral-dark smooth-scroll"
              >Contacto</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Sección Hero -->
  <div class="relative h-screen">
    <div class="absolute inset-0 bg-gradient-to-r"></div>

    <div
      class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-full flex items-center"
    >
      <div class="max-w-2xl mb-[22rem]">
        <span class="font-milks text-neutral-dark block mb-2">
          <img
            src={vitalGlow}
            alt="Vital Glow Logo"
            class="w-[11rem]  md:w-[11rem]"
            loading="eager"
          />
        </span>
        <h1 class="text-neutral-dark text-6xl font-light mb-6">
          mejora tu vida
        </h1>
      </div>
    </div>
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    // Seleccionar todos los enlaces con la clase smooth-scroll
    const smoothScrollLinks =
      document.querySelectorAll<HTMLAnchorElement>(".smooth-scroll");

    smoothScrollLinks.forEach((link) => {
      link.addEventListener("click", (e) => {
        e.preventDefault();

        const targetId = link.getAttribute("href");
        if (!targetId) return;

        const targetElement = document.querySelector<HTMLElement>(targetId);
        const navElement = document.querySelector<HTMLElement>("nav");

        if (targetElement && navElement) {
          const navbarHeight = navElement.offsetHeight;
          const targetPosition =
            targetElement.getBoundingClientRect().top + window.pageYOffset;
          const offsetPosition = targetPosition - navbarHeight;

          window.scrollTo({
            top: offsetPosition,
            behavior: "smooth",
          });
        }
      });
    });
  });
</script>

<style>
  html {
    scroll-padding-top: 4rem; /* Ajusta esto según la altura de tu navbar */
    scroll-behavior: smooth;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  .animate-bounce {
    animation: bounce 2s infinite;
  }
</style>
